<ion-content class="login-container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h2>Iniciá sesión</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" type="email" placeholder="Ingresá tu email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" placeholder="Ingresá tu contraseña"></ion-input>
          <ion-icon slot="end" name="eye-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" (click)="login()">Ingresar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-left">
        <a (click)="goToResetPassword()">¿Olvidaste tu email?</a>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <a (click)="goToResetPassword()">¿Olvidaste tu contraseña?</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="light" (click)="loginWithGoogle()">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Continuar con Google
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="light" (click)="loginWithFacebook()">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Continuar con Facebook
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p>¿No tenés cuenta? <a (click)="goToRegister()">Creala ahora</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
