<!-- profile.component.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfilUsuario"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bienvenido {{ user?.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8">
        <ion-avatar class="logo">
          <img [src]="user?.imagen || 'assets/default-profile.png'" alt="Imagen del usuario" class="main-image" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="info-card">
    <ion-card-header class="info-card-header">
      <ion-card-subtitle class="info-card-subtitle">Información de contacto</ion-card-subtitle>
      <ion-card-title class="info-card-title">{{ user?.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-card-content">
      <p><ion-icon name="mail-outline"></ion-icon> Email: {{ user?.correo }}</p>
      <p><ion-icon name="mail-outline"></ion-icon> Email: {{ user?.tipo_usuario }}</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="stacked">Subir nueva foto de perfil</ion-label>
    <input type="file" (change)="onFileSelected($event)">
  </ion-item>

  <ion-button (click)="uploadProfileImage()" expand="full">Actualizar Foto de Perfil</ion-button>
</ion-content>
