<ion-header>
  <ion-toolbar>
    <ion-title>Configuración de horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveSchedule()">
    <ion-item>
      <ion-label>Seleccionar días disponibles:</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let day of days">
            <ion-checkbox [(ngModel)]="selectedDays[day]" name="{{day}}"></ion-checkbox>
            <ion-label>{{day}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label>Hora de inicio:</ion-label>
      <ion-select [(ngModel)]="startTime" name="startTime" required>
        <ion-select-option *ngFor="let time of timeSlots" [value]="time">{{time}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Hora de fin:</ion-label>
      <ion-select [(ngModel)]="endTime" name="endTime" required>
        <ion-select-option *ngFor="let time of timeSlots" [value]="time">{{time}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Hora de descanso inicio:</ion-label>
      <ion-select [(ngModel)]="breakStart" name="breakStart">
        <ion-select-option *ngFor="let time of timeSlots" [value]="time">{{time}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Hora de descanso fin:</ion-label>
      <ion-select [(ngModel)]="breakEnd" name="breakEnd">
        <ion-select-option *ngFor="let time of timeSlots" [value]="time">{{time}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit">Guardar Horarios</ion-button>
  </form>
</ion-content>
