<ion-content class="ion-padding">
  <div style="margin: 20px;">
    <ion-button (click)="toggleForm()" expand="block" shape="round" color="primary">
      Agregar Categoría
    </ion-button>
  </div>

  <ion-card *ngIf="showForm">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="newCategory.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input [(ngModel)]="newCategory.descripcion"></ion-input>
    </ion-item>
  </ion-card>

  <div *ngIf="showForm" style="margin: 20px;">
    <ion-button (click)="save()" expand="block" shape="round" color="success">
      Guardar
    </ion-button>
  </div>

  <div *ngIf="cargando" style="text-align: center;">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let category of categories">
      <ion-label>
        Nombre: {{ category.nombre }}
        <p>Descripción: {{ category.descripcion }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="delete(category)">
          <ion-icon slot="icon-only" name="trash" class="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
