<!-- select-user-type.component.html
<ion-header>
  <ion-toolbar>
    <ion-title>
      Seleccionar Tipo de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-radio-group [(ngModel)]="selectedUserType">
      <ion-item>
        <ion-label>Cliente</ion-label>
        <ion-radio slot="start" [value]="'cliente'"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Proveedor</ion-label>
        <ion-radio slot="start" [value]="'proveedor'"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button expand="block" (click)="selectUserType(selectedUserType)">Guardar</ion-button>
</ion-content> -->
