ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stars {
  display: flex;
  align-items: center;
  color: gold;
}


