<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Servicios</ion-title>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar servicios..."></ion-searchbar>

  <ion-list>
    <ion-item >
      <ion-avatar slot="start"  (click)="goToService()" >
      <img src="../../../assets/images.jpeg" alt="Descripción de la imagen" />
      </ion-avatar>
      <ion-label>
        <h2>DENTISTA</h2>
        <p>DENTISTA DE LA ZONA</p>
      </ion-label>
    </ion-item>

<br>

<ion-item >
      <ion-avatar slot="start">
      <img src="../../../assets/images.jpeg" alt="Descripción de la imagen"  />
      </ion-avatar>
      <ion-label>
        <h2>DENTISTA</h2>
        <p>DENTISTA DE LA ZONA</p>
      </ion-label>
    </ion-item>

<br>

    <ion-item >
      <ion-avatar slot="start">
      <img src="../../../assets/images.jpeg" alt="Descripción de la imagen" />
      </ion-avatar>
      <ion-label>
        <h2>DENTISTA</h2>
        <p>DENTISTA DE LA ZONA</p>
      </ion-label>
    </ion-item>

<br>

    <ion-item >
      <ion-avatar slot="start">
      <img src="../../../assets/images.jpeg" alt="Descripción de la imagen" />
      </ion-avatar>
      <ion-label>
        <h2>DENTISTA</h2>
        <p>DENTISTA DE LA ZONA</p>
      </ion-label>
    </ion-item>

<br>

    <ion-item >
      <ion-avatar slot="start">
      <img src="../../../assets/images.jpeg" alt="Descripción de la imagen" />
      </ion-avatar>
      <ion-label>
        <h2>DENTISTA</h2>
        <p>DENTISTA DE LA ZONA</p>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>
