.logo {
  width: 200px; /* Ajusta el ancho según el tamaño de tu logo */
  height: auto;  /* Mantén la proporción de aspecto */
  margin-bottom: 20px;

}



.main-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Estilos para las tarjetas */
.info-card, .service-card, .about-card {
  margin: 16px;
  border-radius: 10px;
}

.info-card-header, .service-card-header, .about-card-header {
  padding: 16px;
  background-color: #34a1cc; // Color de fondo gris claro para los encabezados
}

.info-card-title, .service-card-title, .about-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.info-card-subtitle {
  font-size: 0.9em;
  color: #666;
}

.info-card-content, .service-card-content, .about-card-content {
  padding: 16px;
}

/* Estilos para la lista de servicios */
ion-list {
  background: transparent;
}

ion-item {
  --padding-start: 0;
}

/* Estilo para el botón de reservar cita */
.book-button {
  margin: 16px;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

.review-card {
  border: 2px solid #34a1cc; /* Color del fondo del título del contenedor */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-card-header {
  background-color: #34a1cc; /* Color del fondo del título del contenedor */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.review-card-title {
  font-size: 1em;
  font-weight: normal;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.pagination-controls p {
  margin: 0;
  padding: 0 16px;
}

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

